-- SQLite.sql
cleanData.sql
reports.db
users.db
__pycache__/dcf.cpython-312.pyc
__pycache__/FinModule.cpython-312.pyc
__pycache__/fixed_assets.cpython-312.pyc
__pycache__/freecashflow.cpython-312.pyc
__pycache__/GenerateReport.cpython-312.pyc
__pycache__/main_excel.cpython-312.pyc
__pycache__/nwc.cpython-312.pyc
__pycache__/statementFunct.cpython-312.pyc
__pycache__/styleModule.cpython-312.pyc
__pycache__/wacc.cpython-312.pyc
formatter.prettierrc
users.db
